<!DOCTYPE html>
<html>
<head>
        <title>Dogs photo</title>
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light" rel="stylesheet">  
        <link href="cbstyle.css" rel="stylesheet">
     </head>
     <body>
        <% include partials/nav.ejs %>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/CorgiMain">Corgi</a></li>
                <li><a href="/Beagle" class="active">Beagle</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
        <h1 class="color3">Beagle photo</h1>
        
        
        <p class="font1-class color1">
        The beagle is a breed of small hound that is similar in appearance to the much larger foxhound. The beagle is a scent hound, developed primarily for hunting hare (beagling). With a great sense of smell and superior tracking instinct, the beagle is employed as detection dog for prohibited agricultural imports and foodstuffs in quarantine around the world. The beagle is intelligent but single-minded. It is a popular pet due to its size, good temper, and lack of inherited health problems.
     
     The modern breed was developed in Great Britain around the 1830s from several breeds, including the Talbot Hound, the North Country Beagle, the Southern Hound, and possibly the Harrier.
     
     Beagles have been depicted in popular culture since Elizabethan times in literature and paintings, and more recently in film, television, and comic books. Snoopy of the comic strip Peanuts has been called "the world's most famous beagle".[1]
        </p>
        <b>Source form wikipedia<b>
        
        <p class="font2-class color2">
        
     El beagle es una raza de sabueso pequeño que es similar en apariencia al zorro mucho más grande. El beagle es un sabueso, desarrollado principalmente para cazar liebres (beagling). Con un gran sentido del olfato y un instinto de rastreo superior, el beagle se emplea como perro de detección para importaciones agrícolas prohibidas y alimentos en cuarentena en todo el mundo. El beagle es inteligente pero decidido. Es una mascota popular debido a su tamaño, buen carácter y falta de problemas de salud heredados.
     
     La raza moderna se desarrolló en Gran Bretaña alrededor de la década de 1830 a partir de varias razas, incluyendo el Talbot Hound, el North Country Beagle, el Southern Hound y posiblemente el Harrier.
     
     Los beagles han sido representados en la cultura popular desde la época isabelina en literatura y pintura, y más recientemente en cine, televisión y cómics. Snoopy de la tira cómica Peanuts ha sido llamada "el beagle más famoso del mundo". [1]
        </p>
        
     
      <div id="d1">
        <img src="beag01.jpg" width="270px" />
        <img src="beag02.jpg" width="270px" />
        <img src="beag03.jpg" width="270px" />
        <img src="beag04.jpg" width="270px" height="210px" />
        <img src="beag05.jpg" width="270px" />
        <img src="beag06.jpg" width="270px" />
      </div>
     
     </body>
     
</html>