<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: brown;font-family: verdana; color:#fff; padding:30px;}
            h1{font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
            p{font-size: 22px;text-align: center;}
            #contact-form{width:400px; max-width:100%; padding:20px; margin:20px auto;}
            #msg{
                width : 400px;
                max-width:100%;
                padding:20px;
                margin:20px auto;
            }
            input,label{display:block ;margin:10px 0;padding:5px;width:100%}
            input[type='summit']{width:auto;}
            .active {background-color:black;color:white;}
            ul li {list-style-type:none;display:inline; }
            ul li a {text-decoration:none;}
            ul li a:hover {background-color:green;color:white;}
        </style>
    </head>
    <body> 
        <% include partials/nav.ejs %>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/CorgiMain">Corgi</a></li>
            <li><a href="/Beagle">Beagle</a></li>
            <li><a href="/contact" class="active">Contact Us</a></li>
          </ul>
        <h1>Contact us</h1>
         <p>Contact the collest dogs on the web right here...</p>
         
         <form id="contact-form" method="POST" action="/contact">
            <label for="message">Message to us</label>
            <input type="text" name="message" value="<%= qs.content %>"> 
            <label for="who">Who do you want to contact?</label>
            <input type="text" name="who" value="<%= qs.people %>">
            <label for="email">Your email</label>
            <input type="email" name="email"/>
            <input type="submit" name="submit"/>
        </form>
    </body>
</html>
