<html>
<head>
   <title>Dog Lover</title>
   <link href="https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light" rel="stylesheet"/>   
   <link rel="stylesheet" href="cbstyle.css" />

</head>

</head>
<body>
    <% include partials/nav.ejs %>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/CorgiMain">Corgi</a></li>
            <li><a href="/Beagle">Beagle</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          
<h1>Corgi and Beagle</h1>


<div id="d1">

    <a href="/CorgiMain"><img src="CandB.jpg" title="Dog" alt="Dogs" class="center"></a>
	
 </div>
 <a href="/Beagle"><img src="beaglelogo.jpg" title="Dog" alt="Dogs"></a>
</body>
</html>